// mdl-popup

.dialog-container, .loading-container
  position fixed
  overflow auto

// mdl-checkbox

.mdl-checkbox
  height auto

  &.is-checked
    .mdl-checkbox
      &__box-outline
        background-color rgb(255,152,0)
      &__tick-outline
        mask none
