.form
  &__item
    &--not-textfield
      padding 0
      margin 20px 0

  &__label:after
    background-color $palette-light-blue-500

  &__error
    margin-top 3px
    font-size 12px

  &__button
    width 250px
    max-width 100%

  &__cell
    display inline-block
    vertical-align middle
    width 380px
    max-width 100%
    &:first-child
      margin-right 30px