.footer
  margin-top 8px
  padding 55px 50px
  width 100%
  min-height 234px
  box-sizing border-box
  text-align left
  font-weight 700
  font-size 0
  box-shadow 0 1px 1px 0 rgba(0,0,0,.12)
  background-color #263238

  &__left
  &__center
  &__right
    display inline-block
    vertical-align top

  &__left
    width 40%

  &__center
    width 35%

  &__right
    width 20%

  &__links
    color #fff
    margin 0 0 12px
    padding 0
    font-size 16px
    a
      display inline-block
      line-height 1.8
      text-decoration none
      color inherit
      font-weight 700
  
  &__icons
    a
      display inline-block
      width 35px
      height 35px
      cursor pointer
      background-color #607D8B
      border-radius 60px
      font-size 20px
      color #fff
      text-align center
      line-height 35px
      margin-right 3px
      margin-bottom 5px
    
  &__company-name
    color #8f9296
    font-size 14px
    font-weight 400
    margin 12px 0 0